<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" 
id="WebApp_ID" version="3.1">
 <!-- 
 metadata-complete = "false" == annotation 을 위한 
  <display-name>1203</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
 --> 
	<servlet>
	 	<servlet-name>aaa</servlet-name>
	    <servlet-class>httpserv01.server01</servlet-class>
	 </servlet>
    <servlet-mapping>
	    <servlet-name>aaa</servlet-name>
	    <url-pattern>/server01</url-pattern>
   </servlet-mapping>

</web-app> 
 